<!-- <div nz-row [nzGutter]="16">
  <table>
    <tbody>
      <tr>
        <td>
          <div
            [ngClass]="data[0].trangthai == 2 ? 'disable' : ''"
            title="Ghế số 1"
            (click)="chuyenMau(0)"
          >
            <span
              nz-icon
              nzType="car"
              nzTheme="outline"
              *ngIf="data[0].trangthai != 2"
              [ngClass]="data[0].trangthai == 1 ? 'do' : 'xanh'"
            ></span>
            <span
              nz-icon
              nzType="car"
              nzTheme="outline"
              *ngIf="data[0].trangthai == 2"
              class="xam"
            ></span>
          </div>
        </td>
        <td>
          <div
            [ngClass]="data[1].trangthai == 2 ? 'disable' : ''"
            title="Ghế số 1"
            (click)="chuyenMau(1)"
          >
            <span
              nz-icon
              nzType="car"
              nzTheme="outline"
              *ngIf="data[1].trangthai != 2"
              [ngClass]="data[1].trangthai == 1 ? 'do' : 'xanh'"
            ></span>
            <span
              nz-icon
              nzType="car"
              nzTheme="outline"
              *ngIf="data[1].trangthai == 2"
              class="xam"
            ></span>
          </div>
        </td>
        <td>
          <div
            [ngClass]="data[2].trangthai == 2 ? 'disable' : ''"
            title="Ghế số 1"
            (click)="chuyenMau(2)"
          >
            <span
              nz-icon
              nzType="car"
              nzTheme="outline"
              *ngIf="data[2].trangthai != 2"
              [ngClass]="data[2].trangthai == 1 ? 'do' : 'xanh'"
            ></span>
            <span
              nz-icon
              nzType="car"
              nzTheme="outline"
              *ngIf="data[2].trangthai == 2"
              class="xam"
            ></span>
          </div>
        </td>
        <td>
          <div
            [ngClass]="data[3].trangthai == 2 ? 'disable' : ''"
            title="Ghế số 1"
            (click)="chuyenMau(3)"
          >
            <span
              nz-icon
              nzType="car"
              nzTheme="outline"
              *ngIf="data[3].trangthai != 2"
              [ngClass]="data[3].trangthai == 1 ? 'do' : 'xanh'"
            ></span>
            <span
              nz-icon
              nzType="car"
              nzTheme="outline"
              *ngIf="data[3].trangthai == 2"
              class="xam"
            ></span>
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <div
            [ngClass]="data[4].trangthai == 2 ? 'disable' : ''"
            title="Ghế số 1"
            (click)="chuyenMau(4)"
          >
            <span
              nz-icon
              nzType="car"
              nzTheme="outline"
              *ngIf="data[4].trangthai != 2"
              [ngClass]="data[4].trangthai == 1 ? 'do' : 'xanh'"
            ></span>
            <span
              nz-icon
              nzType="car"
              nzTheme="outline"
              *ngIf="data[4].trangthai == 2"
              class="xam"
            ></span>
          </div>
        </td>
        <td>
          <div
            [ngClass]="data[5].trangthai == 2 ? 'disable' : ''"
            title="Ghế số 1"
            (click)="chuyenMau(5)"
          >
            <span
              nz-icon
              nzType="car"
              nzTheme="outline"
              *ngIf="data[5].trangthai != 2"
              [ngClass]="data[5].trangthai == 1 ? 'do' : 'xanh'"
            ></span>
            <span
              nz-icon
              nzType="car"
              nzTheme="outline"
              *ngIf="data[5].trangthai == 2"
              class="xam"
            ></span>
          </div>
        </td>
        <td>
          <div
            [ngClass]="data[6].trangthai == 2 ? 'disable' : ''"
            title="Ghế số 1"
            (click)="chuyenMau(6)"
          >
            <span
              nz-icon
              nzType="car"
              nzTheme="outline"
              *ngIf="data[6].trangthai != 2"
              [ngClass]="data[6].trangthai == 1 ? 'do' : 'xanh'"
            ></span>
            <span
              nz-icon
              nzType="car"
              nzTheme="outline"
              *ngIf="data[6].trangthai == 2"
              class="xam"
            ></span>
          </div>
        </td>
        <td>
          <div
            [ngClass]="data[7].trangthai == 2 ? 'disable' : ''"
            title="Ghế số 1"
            (click)="chuyenMau(7)"
          >
            <span
              nz-icon
              nzType="car"
              nzTheme="outline"
              *ngIf="data[7].trangthai != 2"
              [ngClass]="data[7].trangthai == 1 ? 'do' : 'xanh'"
            ></span>
            <span
              nz-icon
              nzType="car"
              nzTheme="outline"
              *ngIf="data[7].trangthai == 2"
              class="xam"
            ></span>
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <div
            [ngClass]="data[8].trangthai == 2 ? 'disable' : ''"
            title="Ghế số 1"
            (click)="chuyenMau(8)"
          >
            <span
              nz-icon
              nzType="car"
              nzTheme="outline"
              *ngIf="data[8].trangthai != 2"
              [ngClass]="data[8].trangthai == 1 ? 'do' : 'xanh'"
            ></span>
            <span
              nz-icon
              nzType="car"
              nzTheme="outline"
              *ngIf="data[8].trangthai == 2"
              class="xam"
            ></span>
          </div>
        </td>
        <td>
          <div
            [ngClass]="data[9].trangthai == 2 ? 'disable' : ''"
            title="Ghế số 1"
            (click)="chuyenMau(9)"
          >
            <span
              nz-icon
              nzType="car"
              nzTheme="outline"
              *ngIf="data[9].trangthai != 2"
              [ngClass]="data[9].trangthai == 1 ? 'do' : 'xanh'"
            ></span>
            <span
              nz-icon
              nzType="car"
              nzTheme="outline"
              *ngIf="data[9].trangthai == 2"
              class="xam"
            ></span>
          </div>
        </td>
        <td>
          <div
            [ngClass]="data[10].trangthai == 2 ? 'disable' : ''"
            title="Ghế số 1"
            (click)="chuyenMau(10)"
          >
            <span
              nz-icon
              nzType="car"
              nzTheme="outline"
              *ngIf="data[10].trangthai != 2"
              [ngClass]="data[10].trangthai == 1 ? 'do' : 'xanh'"
            ></span>
            <span
              nz-icon
              nzType="car"
              nzTheme="outline"
              *ngIf="data[10].trangthai == 2"
              class="xam"
            ></span>
          </div>
        </td>
        <td>
          <div
            [ngClass]="data[11].trangthai == 2 ? 'disable' : ''"
            title="Ghế số 1"
            (click)="chuyenMau(11)"
          >
            <span
              nz-icon
              nzType="car"
              nzTheme="outline"
              *ngIf="data[11].trangthai != 2"
              [ngClass]="data[11].trangthai == 1 ? 'do' : 'xanh'"
            ></span>
            <span
              nz-icon
              nzType="car"
              nzTheme="outline"
              *ngIf="data[11].trangthai == 2"
              class="xam"
            ></span>
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <div
            [ngClass]="data[12].trangthai == 2 ? 'disable' : ''"
            title="Ghế số 1"
            (click)="chuyenMau(12)"
          >
            <span
              nz-icon
              nzType="car"
              nzTheme="outline"
              *ngIf="data[12].trangthai != 2"
              [ngClass]="data[12].trangthai == 1 ? 'do' : 'xanh'"
            ></span>
            <span
              nz-icon
              nzType="car"
              nzTheme="outline"
              *ngIf="data[12].trangthai == 2"
              class="xam"
            ></span>
          </div>
        </td>
        <td>
          <div
            [ngClass]="data[13].trangthai == 2 ? 'disable' : ''"
            title="Ghế số 1"
            (click)="chuyenMau(13)"
          >
            <span
              nz-icon
              nzType="car"
              nzTheme="outline"
              *ngIf="data[13].trangthai != 2"
              [ngClass]="data[13].trangthai == 1 ? 'do' : 'xanh'"
            ></span>
            <span
              nz-icon
              nzType="car"
              nzTheme="outline"
              *ngIf="data[13].trangthai == 2"
              class="xam"
            ></span>
          </div>
        </td>
        <td>
          <div
            [ngClass]="data[14].trangthai == 2 ? 'disable' : ''"
            title="Ghế số 1"
            (click)="chuyenMau(14)"
          >
            <span
              nz-icon
              nzType="car"
              nzTheme="outline"
              *ngIf="data[14].trangthai != 2"
              [ngClass]="data[14].trangthai == 1 ? 'do' : 'xanh'"
            ></span>
            <span
              nz-icon
              nzType="car"
              nzTheme="outline"
              *ngIf="data[14].trangthai == 2"
              class="xam"
            ></span>
          </div>
        </td>
        <td>
          <div
            [ngClass]="data[15].trangthai == 2 ? 'disable' : ''"
            title="Ghế số 1"
            (click)="chuyenMau(15)"
          >
            <span
              nz-icon
              nzType="car"
              nzTheme="outline"
              *ngIf="data[15].trangthai != 2"
              [ngClass]="data[15].trangthai == 1 ? 'do' : 'xanh'"
            ></span>
            <span
              nz-icon
              nzType="car"
              nzTheme="outline"
              *ngIf="data[15].trangthai == 2"
              class="xam"
            ></span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div> -->
