.do{
    background-color: red;
}
.xanh{
    background-color: white;
}
.disable{
    pointer-events: none;
}
.xam{
    color: gray;
}

.login-form {
    max-width: 300px;
  }

  .login-form-margin {
    margin-bottom: 16px;
  }

  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 100%;
  }
